<% layout("/layout/boilerplate") %>

  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <br>
          <h3><b>Create a New Listing</b></h3>
          <br>
          <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input name="listing[title]" placeholder="Add a Catchy title" type="text" class="form-control" required />
              <div class="valid-feedback">Title looks good!</div>
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea name="listing[description]" class="form-control" required></textarea>
              <div class="invalid-feedback">Please enter a short description!</div>

            </div>
<!-- 
            <div class="mb-3">
              <label for="image" class="form-label">Image Link</label>
              <input name="listing[image]" type="text" class="form-control" placeholder="enter Image URL/Link">

            </div> -->
            <div class="mb-3">
              <label for="image" class="form-label">Upload Image File</label>
              <input name="image" type="file" class="form-control" required>

            </div>

            <div class="row">
              <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="0" class="form-control" required />
                <div class="invalid-feedback">Please enter a valid price!</div>

              </div>

              <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="India" type="text" class="form-control" required />
                <div class="invalid-feedback">Please enter the valid country name!</div>

              </div>

            </div>


            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required />
              <div class="invalid-feedback">Please enter the valid location!</div>

            </div>
            <br>
            <div class="mb-3">
              <label for="category" class="form-label">Category</label>
              <select name="listing[category]" class="form-select" required>
                <option value="Trending">Trending</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Amazing Pools">Amazing Pools</option>
                <option value="Farms">Farms</option>
                <option value="Beach">Beach</option>
                <option value="Camping">Camping</option>
                <option value="Tiny Homes">Tiny Homes</option>
                <option value="Creative Spaces">Creative Spaces</option>
              </select>
            </div>
            <button class="btn btn-dark w-10 add-btn">Add</button>
          </form>
          <br>
          <br>
        </div>
      </div>
    </div>

  </body>

  </html>